spring:
  datasource:
    driverclassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/forum
    username: root
    password: root
  jpa:
    properties:
      hibernate:
        show sql: true
        format sql: true
  cache:
    type: redis
  redis:
    host: localhost
    port: 6379
  mail:
    host: smtp.mailtrap.io
    port: 2525
    username: c3d3ffffd0f574
    password: 2b812338d8b222
    properties:
      mail:
        transport:
          protocol: smtp
        debug: true
        smtp:
          auth: true
          starttls:
            enable: true
jwt:
  secret: secret